# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.save
*.rpyb
*.rpyc
*.json
esofteacher/log.txt
esofteacher/game/saves/*
esofteacher/tmp/*
esofteacher-prototype-dists/*

# renpy package
*-sdk.tar.bz2

# renpy dir
renpy-6.17.3-sdk/*

# Backup
*~
